<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<!-- 9) -->
<!--TestNG позволяет запускать тесты параллельно: parallel="classes" thread-count="3"-->

<!-- 1) -->
<suite name="Master Suit" parallel="classes" thread-count="3">
    <!-- 10)

                мы можем давать параметры-->
    <!--    идея такая, данные иногда могут меняться, я не хочу бегать по моим тестовым файлам и
    вспоминать где они у меня лежали. чтобы не бегать, я могу хранить их в TestNG.
    потому что я не помню где они лежат, но я знаю что они для пароля очень нужны.
    <parameter name="username" value="alexander.v.anderson@gmail.com"/>
    <parameter name="password" value="te$t$tudent"/>
    <parameter name="browser" value="XXXX"/>-->


    <!-- 2)  -->
    <test name="Main test">
        <!-- 3)   -->
        <classes>
            <!-- 4)
                        add:  name="pageObjectsTestsLesson11.LoginToAppFactoryLesson11" -->
            <class name="InstaProject">
                <!-- 5) -->
                <methods>
                    <!-- 6)
                                два способа пропустить  тесты: или через testng.xml или напрямую в файле   -->
                    <include name="flakyTest"/>
                    <include name="likePosts"/>
                    <include name="likeStoriesSwipe"/>

                </methods>
            </class>
        </classes>
    </test>
</suite>